.empty-list {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  color: var(--ion-color-medium);
}

ion-card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

ion-card-content,
ion-card-title {
  flex: 1;
}
